*,::after,::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --top: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --todo: hsl(0, 0%, 100%);
  --bottom: hsl(235, 21%, 11%);
  --todoCard: hsl(235, 24%, 19%);
  --hover: hsl(236, 33%, 92%);
  --text: hsl(234, 11%, 52%);
  --all: hsl(220, 98%, 61%);
}
.light {
  --top: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
  --todo: hsl(0, 0%, 100%);
  --bottom: hsl(0, 0%, 98%);
  --todoCard: hsl(236, 33%, 92%);
  --hover: hsl(235, 19%, 35%);
  --text: hsl(236, 9%, 61%);
  --all: hsl(220, 98%, 61%);
}


body {
  font-size: 18px;
}



.top {
  /* background-image: url("./images/bg-desktop-dark.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}